@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.markdown {
  @apply text-gray-900 leading-normal break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown p a {
  @apply text-blue-600 font-semibold no-underline decoration-blue-600;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight border-b text-3xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown code {
  @apply font-mono text-sm inline-block bg-gray-200 rounded px-1 py-1;
}

.markdown div pre code {
  @apply block w-full bg-transparent p-4 overflow-x-scroll rounded-tr-[8px] rounded-tl-[0px] rounded-b-[8px] bg-[#111827];
}

.markdown div div.remark-code-title {
  @apply bg-[#313e51] text-[#ebecee] text-[12px] py-[2px] px-[8px] rounded-t-[4px] font-extralight w-fit;
}

.markdown ul {
  @apply text-base pl-8 list-disc;
}

.markdown ol {
  @apply text-base pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-5 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

.markdown .highlight pre {
  @apply bg-gray-100 rounded p-4;
}

.markdown p span span.katex-html {
  @apply hidden;
}

.markdown span span span.katex-html {
  @apply hidden;
}

.markdown code ::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  @apply hidden;
}

.markdown span.katex-display {
  @apply block overflow-x-scroll overflow-y-hidden;
}

.markdown span.katex-display::-webkit-scrollbar {
  @apply hidden;
}

.bg-svg {
  background: url('data:image/svg+xml;charset=UTF-8, <svg id="visual" viewBox="0 0 960 540" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" fill="%23fff"></rect><path d="M0 400L22.8 395.3C45.7 390.7 91.3 381.3 137 370C182.7 358.7 228.3 345.3 274 343.5C319.7 341.7 365.3 351.3 411.2 352.7C457 354 503 347 548.8 344.3C594.7 341.7 640.3 343.3 686 340.3C731.7 337.3 777.3 329.7 823 336C868.7 342.3 914.3 362.7 937.2 372.8L960 383L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z" fill="%23f6f6f6"></path><path d="M0 426L22.8 419.8C45.7 413.7 91.3 401.3 137 398.7C182.7 396 228.3 403 274 402.8C319.7 402.7 365.3 395.3 411.2 398.7C457 402 503 416 548.8 414.8C594.7 413.7 640.3 397.3 686 394.8C731.7 392.3 777.3 403.7 823 408.8C868.7 414 914.3 413 937.2 412.5L960 412L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z" fill="%23cacaca"></path><path d="M0 413L22.8 410.7C45.7 408.3 91.3 403.7 137 400.5C182.7 397.3 228.3 395.7 274 399.8C319.7 404 365.3 414 411.2 419.5C457 425 503 426 548.8 423.5C594.7 421 640.3 415 686 418.7C731.7 422.3 777.3 435.7 823 434.5C868.7 433.3 914.3 417.7 937.2 409.8L960 402L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z" fill="%23a0a0a0"></path><path d="M0 447L22.8 446C45.7 445 91.3 443 137 446.5C182.7 450 228.3 459 274 463.7C319.7 468.3 365.3 468.7 411.2 468.7C457 468.7 503 468.3 548.8 469C594.7 469.7 640.3 471.3 686 471.3C731.7 471.3 777.3 469.7 823 466.5C868.7 463.3 914.3 458.7 937.2 456.3L960 454L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z" fill="%23787878"></path><path d="M0 499L22.8 500C45.7 501 91.3 503 137 498.8C182.7 494.7 228.3 484.3 274 485.3C319.7 486.3 365.3 498.7 411.2 504.7C457 510.7 503 510.3 548.8 507.7C594.7 505 640.3 500 686 500.7C731.7 501.3 777.3 507.7 823 505.5C868.7 503.3 914.3 492.7 937.2 487.3L960 482L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z" fill="%23525252"></path></svg>');
  background-size: cover;
}

@media screen and (max-width: 644px) {
  .bg-svg {
    background: url('data:image/svg+xml;charset=UTF-8, <svg id="visual" viewBox="0 0 400 900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" fill="%23fff"></rect><path d="M0 656L9.5 638.5C19 621 38 586 57 576.3C76 566.7 95 582.3 114 595.2C133 608 152 618 171.2 609.3C190.3 600.7 209.7 573.3 228.8 576C248 578.7 267 611.3 286 612.5C305 613.7 324 583.3 343 572.2C362 561 381 569 390.5 573L400 577L400 901L390.5 901C381 901 362 901 343 901C324 901 305 901 286 901C267 901 248 901 228.8 901C209.7 901 190.3 901 171.2 901C152 901 133 901 114 901C95 901 76 901 57 901C38 901 19 901 9.5 901L0 901Z" fill="%23f6f6f6"></path><path d="M0 652L9.5 652.5C19 653 38 654 57 664.8C76 675.7 95 696.3 114 689.7C133 683 152 649 171.2 644.3C190.3 639.7 209.7 664.3 228.8 674.3C248 684.3 267 679.7 286 670.8C305 662 324 649 343 648.3C362 647.7 381 659.3 390.5 665.2L400 671L400 901L390.5 901C381 901 362 901 343 901C324 901 305 901 286 901C267 901 248 901 228.8 901C209.7 901 190.3 901 171.2 901C152 901 133 901 114 901C95 901 76 901 57 901C38 901 19 901 9.5 901L0 901Z" fill="%23cdcdcd"></path><path d="M0 723L9.5 729.8C19 736.7 38 750.3 57 742.7C76 735 95 706 114 706.5C133 707 152 737 171.2 743C190.3 749 209.7 731 228.8 726.7C248 722.3 267 731.7 286 726.8C305 722 324 703 343 699.8C362 696.7 381 709.3 390.5 715.7L400 722L400 901L390.5 901C381 901 362 901 343 901C324 901 305 901 286 901C267 901 248 901 228.8 901C209.7 901 190.3 901 171.2 901C152 901 133 901 114 901C95 901 76 901 57 901C38 901 19 901 9.5 901L0 901Z" fill="%23a5a5a5"></path><path d="M0 805L9.5 799.8C19 794.7 38 784.3 57 782.2C76 780 95 786 114 788.3C133 790.7 152 789.3 171.2 782.8C190.3 776.3 209.7 764.7 228.8 757C248 749.3 267 745.7 286 740.8C305 736 324 730 343 738.2C362 746.3 381 768.7 390.5 779.8L400 791L400 901L390.5 901C381 901 362 901 343 901C324 901 305 901 286 901C267 901 248 901 228.8 901C209.7 901 190.3 901 171.2 901C152 901 133 901 114 901C95 901 76 901 57 901C38 901 19 901 9.5 901L0 901Z" fill="%237e7e7e"></path><path d="M0 857L9.5 857C19 857 38 857 57 853.2C76 849.3 95 841.7 114 841.7C133 841.7 152 849.3 171.2 853.3C190.3 857.3 209.7 857.7 228.8 854.3C248 851 267 844 286 842.2C305 840.3 324 843.7 343 839.7C362 835.7 381 824.3 390.5 818.7L400 813L400 901L390.5 901C381 901 362 901 343 901C324 901 305 901 286 901C267 901 248 901 228.8 901C209.7 901 190.3 901 171.2 901C152 901 133 901 114 901C95 901 76 901 57 901C38 901 19 901 9.5 901L0 901Z" fill="%235a5a5a"></path></svg>');
    background-size: cover;
    background-position: center bottom;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .bg-svg {
    background: none;
    background-size: cover;
  }
}
